.wrap {
	display: grid;
	column-gap: 16px;
	row-gap: 16px;
	align-content: flex-start;
	justify-items: flex-end;
}

.list {
	display: grid;
	column-gap: inherit;
	row-gap: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	margin-right: calc(var(--offset-base-size) * -4);
	width: calc(100% + var(--offset-base-size) * 5);
	/* padding-right: calc(var(--offset-base-size) * 2); */
	padding-right: calc(var(--offset-base-size) * 4);
}

.item {
	display: flex;
	align-items: center;
	column-gap: 8px;
	justify-content: flex-end;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
