.wrap {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	max-width: 520px;
}

.title {
	text-align: center;
}

.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	text-align: center;
}

.value {
	display: block;
}
